
<section class="all-loans-applied-loans-section">
  <span (click)="routeToLoansList()">All Loans</span>
  <span (click)="routeToCustomerLoansList()">Applied Loans</span>
 
</section>
<section class="error-message-section">
  <span class="error-message">{{ errorMessage }}</span>
</section>

<section class="customer-loans-dashboard-container">
  
  
  
  <mat-card *ngFor="let customerLoan of customerLoansList">
    <mat-card-header>
      <section class="customer-main-info-section">
        <section class="customer-details">
         
        </section>
        <!-- <section class="customer-gender-age-section">
          <mat-icon>person</mat-icon>
          <span class="customer-gender">{{ customerLoan.gender }}</span>
          <mat-icon>perm_contact_calendar</mat-icon>
          <span class="customer-age">{{ customerLoan.age }} years</span>
        </section> -->
      </section>
    </mat-card-header>
    <mat-card-content class="customer-loan-details-section">
      <section class="bank-logo-section">
        <!-- <img src="../../../../assets/images/team/" alt="" srcset=""> -->
        <h2>{{customerLoan.bankName}}</h2>
        <img [src]="customerLoan.bankImageUrl" alt="" srcset="" class="bank-logo-image" />
      </section>
      <section class="loan-details-section">
        <div class="loan-details">
          <p>Applied Loan Amount :</p>
          <p>Interest Rate :</p>
          <p>Processing Fee :</p>
          <p>Term Length :</p>
          <p>Date of Application :</p>
        </div>
        <div class="loan-details-values">
          <p class="loan-amount">{{ customerLoan.appliedLoanAmount | currency }} </p>
          <p class="loan-interest-rates">
              {{ customerLoan.rateOfInterest }} % 
          </p>
          <p class="loan-min-processing-fee">{{ customerLoan.processingFee | currency}} </p>
          <p class="loan-term-length">{{ customerLoan.termLength }} Months</p>
          <p class="applied-date">
            {{ customerLoan.dateOfApplication | date }}
          </p>
         
          
        </div>
      </section>
    
    </mat-card-content>

    <mat-card-actions class="loan-status">
      <span [ngClass]="getLoanStatusCss(customerLoan)">
        {{ customerLoan.verificationStatus }}</span>
      <span *ngIf="customerLoan.status == 'Approved'" class="loan-approved">
        Approved
      </span>
      <span *ngIf="customerLoan.status == 'Rejected'" class="loan-rejected">
        Rejected
      </span>
     
    </mat-card-actions>
  </mat-card>
</section>
