.login-section-container{   
    width: 40vw;
    height: 55vh;
    margin:5vh auto;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.login-form-section{
    padding-top:3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    width:35vw;    
    display: flex;
    flex-direction: column;
    align-items: stretch;;
    padding:0em 3em;
    
}  
.cursor-pointer{
    cursor: pointer;
} 
.error-message{
    color:red;
    font-size:0.8em;
}
.login-form mat-icon{
    color:#4c4c4c;
    margin-right: 1em;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
    color:blue !important;
}
.password-hint-div{
    margin-top:1.5em;
}
.password-hint-div .mat-icon-button.mat-warn{
    color: #4c4c4c;
}
.login-form span{
    font-size:0.8em;
    color:#4c3ff7;
    text-decoration: none;    
    margin-bottom:1em;
}