<section class="apply-loan-section-container">   
        <h4 class='error-message'>{{errorMessage}}</h4>
        <h4 class="applying-bank">Applying For : {{loanSelected.bankName}}</h4>
      <form action="" class="apply-loan-form" [formGroup]="applyLoanForm" (ngSubmit)="applyLoan(applyLoanForm)">
       
      <mat-form-field>
          <mat-icon matPrefix>attach_money</mat-icon>
        <input type="number" matInput placeholder="Enter Loan Amount" formControlName="loanAmount" >
        <mat-error *ngIf="applyLoanForm.get('loanAmount')?.touched && applyLoanForm.get('loanAmount')?.hasError('required')">Loan Amount is Required</mat-error>
        <mat-error *ngIf="applyLoanForm.get('loanAmount')?.touched && applyLoanForm.get('loanAmount')?.hasError('min')">Loan Amount should be min : {{loanSelected.minLoanAmount}}</mat-error>
        <mat-error *ngIf="applyLoanForm.get('loanAmount')?.touched && applyLoanForm.get('loanAmount')?.hasError('max')">Loan Amount should be max : {{loanSelected.maxLoanAmount}}</mat-error>
      </mat-form-field>
  
      <mat-form-field>
          <mat-icon matPrefix>flight_takeoff</mat-icon>
          <input type="number" matInput placeholder="Enter Rate of Interest" formControlName="rateOfInterest" >
        <mat-error *ngIf="applyLoanForm.get('rateOfInterest')?.touched && applyLoanForm.get('rateOfInterest')?.hasError('required')">Rate of Interest</mat-error>
        <mat-error *ngIf="applyLoanForm.get('rateOfInterest')?.touched && applyLoanForm.get('rateOfInterest')?.hasError('min')">Rate of Interest should be min : {{loanSelected.minInterestRate}}</mat-error>
        <mat-error *ngIf="applyLoanForm.get('rateOfInterest')?.touched && applyLoanForm.get('rateOfInterest')?.hasError('max')">Rate of Interest should be max : {{loanSelected.maxInterestRate}}</mat-error>
      </mat-form-field>

     
      <button mat-raised-button color="warn" [disabled]="applyLoanForm.invalid" class="cursor-pointer">
            <!-- <mat-progress-bar *ngIf="loading"
            class="example-margin"
            color="warn"
            mode="indeterminate"
            value="50"
            bufferValue="75">
          </mat-progress-bar> -->
          {{applyLoanButtonText}}
        </button>
      
    </form>
  </section>

