.apply-loan-section-container{    
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    width: 30vw;
}
.applying-bank{
    margin: -2em 0em 1em 0em !important;
    font-size: 1em;
    font-weight: 500;;
}

.apply-loan-form{
    display: flex;
    flex-direction: column;
}