.footer-section{
  height:12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #448aff ;
  padding:1em;
}

.footer-section span{
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;;
}
