<!--The content below is only a placeholder and can be replaced.-->
<main class="personal-loan-management">
  <section class="header-section-container">
    <app-header></app-header>
  </section>
  <section class="dashboard-section-container">
    <router-outlet></router-outlet>
  </section>
  <section class="footer-section-container">
    <app-footer></app-footer>
  </section>
</main>
